{% extends 'users/base.html' %}
{% load static %}

<!-- Внешние файлы -->
{% block links %}
    <!-- Блок для подключения внешних файлов -->
{% endblock %}

<!-- Содержимое страницы -->
{% block content %}
    <!-- Блок контента -->
    <h1>Главная страница.</h1>
    {% if request.user.is_authenticated %}
        {{ request.user.username }}
        <form method="POST" action="{% url 'signout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url 'signin' %}">ВОЙТИ</a>
    {% endif %}
{% endblock %}